<h3><%= "#{current_user.name} have #{current_user.subjects.count} subjects" %></h3>
<% current_user.subjects.each do  |subj| %>
  <h3><%= "#{subj.name} : #{subj.marks.count}" %></h3>
  <ul>
  <% get_month_count(subj.marks).each_pair do |month, val| %>
    <li><%= "#{month} : #{val}" %></li>
  <% end %>
  </ul>
<% end %>


