<% provide(:title, @user.name) %>
<% if signed_in? %>
  <section>
    <%= render 'shared/subject_form' %>
  </section>
  <%= render 'shared/mark_form' %>
  <%= hidden_field_tag 'debug_text' ,  date_infos(@user) %>
  <% if have_subject?(@user) %>
    <%= render 'shared/subject' %>
    <div id=calendar>Calendar</div>
  <% end %>
<% end %>


