<% provide(:title, @user.name) %>
<% if signed_in? %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <section>
          <p>add new subject</p>
          <%= render 'shared/subject_form' %>
        </section>
        <%= render 'shared/mark_form' %>
        <%= hidden_field_tag 'debug_text' ,  date_infos(@user) %>
        <% if have_subject?(@user) %>
          <%= render 'shared/subject' %>
        <% end %>
      </div>
      <div class="span9">
        <% if have_subject?(@user) %>
          <div id=calendar>Calendar</div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


