<%= form_for(@mark) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= text_field_tag :mark_subjects  %>
  </div>
  <%= f.submit "Save Events", id: "save", class: "btn btn-large btn-primary" %>
<% end %>
