<% if @message %>
  <p id="subject_message"><%= @message %></p>
<% end %>
<%= form_for @subject do |f| %>
  <%= f.label :id, "select subject" %>
  <%= f.collection_select :id, @user.subjects, :name, :name %>
<% end %>
